<h1>Angular</h1>
<zippy>
  <ng-container class="title">Shipping Details</ng-container>
  <ng-container class="content">Shipping Details Form</ng-container>
</zippy>
<zippy>
  <ng-container class="title">Billing Details</ng-container>
  <ng-container class="content">Billing Details Form</ng-container>
</zippy>
<site-nav></site-nav>
<twitter-like 
  [like-state]="tweet.isLiked"
  [like-count]="tweet.likeCount"
>
</twitter-like>
<h1>{{tweet.creator?.name}}</h1>
<courses></courses>
<authors></authors>
<bootstrap-panel>
  <ng-container class="heading">Heading</ng-container><!--We can use ng container to avoid extra tags / to show only content-->
  <div class="body">
    <h2>Heading</h2>
    <p>body content goes here....</p>
  </div>
</bootstrap-panel>